<mcui-box data-box-title="Detalle de Cliente ">

    <fieldset disabled="disables">
        <div class="row">
            <div class="col-sm-4">
                <mcui-form-input 
                    ng-model="vm.cliente.codigo_cliente" 
                    data-label="Código cliente" 
                    data-input="{'required':'required', placeholder:'Código cliente'}">                
                </mcui-form-input>
            </div>

            <div class="col-sm-4">
                <mcui-form-input 
                    ng-model="vm.cliente.nombre_completo" 
                    data-label="Nombre completo" 
                    data-input="{placeholder:'Nombre completo'}">                
                </mcui-form-input>
            </div>

            <div class="col-sm-4">
                <div data-mcui-form-input 
                     ng-model="vm.cliente.nombre_corto" 
                     data-label="Nombre Corto" 
                     data-input="{placeholder:'Nombre corto'}">                 
                </div>
            </div>

            <div class="col-sm-4">
                <mcui-form-input 
                    ng-model="vm.cliente.description_completa" 
                    data-label="Descripción completa" 
                    data-input="{placeholder:'Descripción completa'}">
                </mcui-form-input>
            </div>

            <div class="col-sm-4">
                <mcui-form-input 
                    ng-model="vm.cliente.descripcion_corta" 
                    data-label="Descripción corta" 
                    data-input="{placeholder:'Descripción corta'}">
                </mcui-form-input>
            </div>

            <div class="col-sm-4">
                <mcui-form-input 
                    ng-model="vm.cliente.fecha_alta" 
                    data-label="Fecha alta" 
                    data-input="{placeholder:'Facha alta'}">            
                </mcui-form-input>
            </div>

            <div class="col-sm-4">
                <mcui-form-input 
                    ng-model="vm.cliente.fecha_inicio" 
                    data-label="Fecha inicio" 
                    data-input="{placeholder:'Facha inicio'}">            
                </mcui-form-input>
            </div>    
        </div> 
    </fieldset>

</mcui-box>