                <section class="content-header">
                    <h1>
                        {{ $state.current.data.pageHeader }}
                        <small>{{ $state.current.data.pageDescription }}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a data-ui-sref="home"><i class="fa fa-dashboard"></i> Inicio</a></li>
                        <li class="active">{{ $state.current.data.pageTitle }}</li>
                    </ol>
                </section>
