<!-- VIEW SUCURSAL-->
<div class="row-fluid">

    <div class="col-sm-3 no-padding">

        <fieldset disabled="disabled">
            <mcui-box data-box-title="Imagen Sucursal" data-footer-slot="false" data-box-body-class="">
                <div class="form-group">
                    <so-single-image-picker 
                        file="vm.file" 
                        data-source="{{ vm.sucursal.archivos[vm.sucursal.archivos.length - 1].url || $settings.noImage}}">
                    </so-single-image-picker> 
                </div>
            </mcui-box>          

            <mcui-box data-box-title="Datos del Cliente" data-box-body-class="" data-footer-slot="false">
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-red">
                        <h3 class="no-margin-left widget-user-username" ng-bind="vm.sucursal.clienteDto.nombreCompleto">...</h3>
                        <h5 class="no-margin-left widget-user-desc" ng-bind="vm.sucursal.clienteDto.nombreCorto">...</h5>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Fecha alta <span class="pull-right" ng-bind="vm.sucursal.clienteDto.fechaAlta">...</span></a></li>
                            <li><a href="#">Fecha inicio <span class="pull-right" ng-bind="vm.sucursal.clienteDto.fechaInicio">...</span></a></li>
                        </ul>
                    </div>
                </div>  

            </mcui-box> 
        </fieldset>
    </div>

    <div class="col-sm-9">
        <mcui-box data-box-title="Detalle Sucursal" data-box-body-class="table-responsive">

            <fieldset disabled="disabled">

                <div class="row-fluid">
                    <div class="col-sm-4">
                        <mcui-form-input 
                            ng-model="vm.sucursal.nombreSucursal" 
                            data-label="Nombre" 
                            data-input="{'required':'required', placeholder:'Nombre Sucursal'}">                
                        </mcui-form-input>
                    </div>

                    <div class="col-sm-8">
                        <label>Dirección física</label>
                        <input class="form-control" type="text" placeholder="Dirección física" ng-required="true" ng-model="vm.sucursal.direccionFisica"  />
                    </div> 

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <label>Teléfonos</label>
                        <input class="form-control" type="text" placeholder="Teléfonos" ng-model="vm.sucursal.telefonos"  />
                    </div>

                    <div class="col-sm-8">
                        <mcui-form-input 
                            ng-model="vm.sucursal.emails" 
                            data-label="Emails" 
                            data-input="{placeholder:'Emails'}">                
                        </mcui-form-input>
                    </div>  

                    <div class="clearfix"></div>

                    <div class="col-sm-12">
                        <label>Coordenadas</label>
                        <input class="form-control" type="text" placeholder="Coordenadas" ng-model="vm.sucursal.coordenadas"  />        
                    </div>    

                    <!-- -25.2968361, -57.66813 -->

                    <div class="col-sm-12 mt20 mb20">
                        <ng-map center="{{ vm.sucursal.coordenadas | coordFilter  }}" zoom="15" on-click="vm.fn.addMarker()">
                            <marker 
                                position="{{ vm.sucursal.coordenadas | coordFilter }}"
                                title="{{ vm.sucursal.nombreSucursal}} {{ vm.sucursal.direccionFisica}}"
                                animation="Animation.BOUNCE"
                                centered="true">                    
                            </marker>          
                        </ng-map>
                    </div>
                </div>          

            </fieldset>

            <mcui-box-footer-slot>
                <a href="#" data-ui-sref="cliente.edit({id:vm.sucursal.clienteDto.id})" class="btn btn-flat btn-default">Cancelar</a>    
                <a href="#" data-ui-sref="sucursal.edit({id:vm.sucursal.id})" class="btn btn-flat btn-default"><i class="fa fa-pencil"></i> Editar</a>    

            </mcui-box-footer-slot>                  

        </mcui-box>
    </div>

</div>

<pre>
    {{ vm.sucursal | json:4}}
</pre>


<!-- /VIEW SUCURSAL-->  