<mcui-box data-box-title="Publicación">

    <mcui-box-footer-slot>
        <button type="submit" ng-disabled="modelForm.$invalid" class="btn btn-primary">Guardar</button>
    </mcui-box-footer-slot>       


    <div class="row">
        <div class="col-sm-4">
            <mcui-form-input
                ng-model="vm.model.titulo"
                data-placeholder="Título"
                data-label="Título"
                required>                
            </mcui-form-input>
        </div>

        <div class="col-sm-4">
            <mcui-form-input
                ng-model="vm.model.descripcionCorta"
                data-placeholder="Descripción corta"
                data-label="Descripción corta"
                required>                
            </mcui-form-input>
        </div>

        <div class="col-sm-4">
            <label>Cliente <req></req></label>
            <select name="cliente" id="cliente" class="form-control" ng-required="true"
                    ng-options="option.nombreCompleto for option in vm.data.cliente track by option.id"
                    ng-model="vm.model.clienteDto">
            </select> 
        </div>        
    </div>



    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label>Estado <req></req></label>
                <select name="tipoPublicacion" id="tipoPublicacion" class="form-control" ng-required="true"
                        ng-options="option.descripcion for option in vm.data.estadoPublicacion track by option.id"
                        ng-model="vm.model.estadoPublicacionDto">
                </select>                
            </div>
        </div>                      

        <div class="col-sm-4">
            <div class="form-group">
                <label>Tipo publicación <req></req></label>
                <select name="tipoPublicacion" id="tipoPublicacion" class="form-control" ng-required="true"
                        ng-options="option.descripcion for option in vm.data.tipoPublicacion track by option.id"
                        ng-model="vm.model.tipoPublicacionDto">
                </select>                
            </div>
        </div> 

        <div class="col-sm-4">
            <div class="form-group">
                <label>Tiempo muestra</label>
                <input type="number" class="form-control" ng-model="vm.model.tiempoMuestra" />
            </div>
        </div>                     

        <div class="col-sm-4">
            <div class="form-group">
                <label>Fecha creación</label>
                <input type="date" class="form-control" ng-model="vm.model.fechaCreacion"/>
            </div>            
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Fecha desde</label>
                <input type="date" class="form-control" ng-model="vm.model.fechaDesde" />
            </div>                    
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Fecha hasta</label>
                <input type="date" class="form-control" ng-model="vm.model.fechaHasta" />
            </div>                    
        </div>                  
    </div>


</mcui-box>