<mcui-box data-box-title="Publicación">

    <mcui-box-footer-slot>
        <button type="submit" ng-disabled="modelForm.$invalid" class="btn btn-primary">Guardar</button>
    </mcui-box-footer-slot>       

    <div class="row">

        <div class="col-sm-3">
            <div class="form-group">
                <label>Imagen</label>
                <so-single-image-picker 
                    file="vm.publicacion.imagen" 
                    data-source="{{ vm.model.dirImagen || 'app/assets/img/no-thumbnail.jpg'}}">
                </so-single-image-picker>               
                <input type="text" class="form-control" ng-model="vm.model.dirImagen"/>
            </div>            
        </div>  

        <div class="col-sm-9">
            <div class="row-fluid">

                <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" ng-model="vm.model.titulo"/>
                </div> 

                <div class="form-group">
                    <label>Descripción corta</label>
                    <input type="text" class="form-control" ng-model="vm.model.descripcionCorta"/>
                </div>             

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fecha creación</label>
                            <input type="date" class="form-control" ng-model="vm.model.fechaCreacion"/>
                        </div>            
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fecha desde</label>
                            <input type="date" class="form-control" ng-model="vm.model.fechaDesde" />
                        </div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fecha hasta</label>
                            <input type="date" class="form-control" ng-model="vm.model.fechaHasta" />
                        </div>                    
                    </div>                  
                </div>

            </div>            
        </div>
    </div>  
</mcui-box>