<mcui-box data-box-title="Cliente">

    <div class="row">
        
        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.cliente.codigoCliente" 
                data-label="Código" 
                data-input="{placeholder:'Código cliente'}">                
            </mcui-form-input>
        </div>        
        
        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.cliente.nombreCompleto" 
                data-label="Nombre completo" 
                data-input="{placeholder:'Nombre completo'}">                
            </mcui-form-input>
        </div>

        <div class="col-sm-4">
            <div data-mcui-form-input 
                 ng-model="vm.cliente.nombreCorto" 
                 data-label="Nombre Corto" 
                 data-input="{placeholder:'Nombre corto'}">                 
            </div>
        </div>

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.cliente.descripcionCompleta" 
                data-label="Descripción completa" 
                data-input="{placeholder:'Descripción completa'}">
            </mcui-form-input>
        </div>

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.cliente.descripcionCorta" 
                data-label="Descripción corta" 
                data-input="{placeholder:'Descripción corta'}">
            </mcui-form-input>
        </div>

        <div class="col-sm-4">
            <mcui-form-input 
                ng-model="vm.cliente.fechaInicio" 
                data-label="Fecha inicio" 
                data-input="{placeholder:'Facha inicio'}">            
            </mcui-form-input>
        </div> 
        
    </div> 

    <mcui-box-footer-slot>
        <button type="submit" ng-disabled="modelForm.$invalid" class="btn btn-primary">Guardar</button>
    </mcui-box-footer-slot>    
</mcui-box>