<mcui-box data-box-title="Búsqueda personalizada de Publicación" ng-show="false">
        <div class="row">
            <div class="col-sm-3">
                <mcui-form-input 
                    ng-model="vm.filter.titulo" 
                    data-label="Título" 
                    data-input="{placeholder:'Título'}">                
                </mcui-form-input>
            </div>

            <div class="col-sm-3">
                <div data-mcui-form-input 
                     ng-model="vm.filter.descripcion" 
                     data-label="Descripción" 
                     data-input="{placeholder:'Descripción'}">                 
                </div>
            </div>

            <div class="col-sm-3">
                <mcui-form-input 
                    ng-model="vm.filter.fecha_creacion" 
                    data-label="Fecha Creación" 
                    data-input="{placeholder:'Fecha creación'}">            
                </mcui-form-input>
            </div> 
        </div>     

        <mcui-box-footer-slot>
            <mcui-btn-search></mcui-btn-search>
        </mcui-box-footer-slot>          
    </mcui-box>



<mcui-box data-box-title="Resultados" data-box-body-class="table-responsive no-padding">
  
    <mcui-box-tool-slot>
        <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar" ng-model="vm.filter.search">
        </div>        
    </mcui-box-tool-slot>    

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Título</th>
                <th>Descripción</th>
                <th style="width:120px">Fecha Creación</th>
                <th style="width:140px; text-align: center">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.list | filter:vm.filter.search">
                <td><img ng-src="{{ item.dir_imagen }}" alt="{{ item.titulo }}" /></td>
                <td>{{ item.titulo }}</td>                
                <td>{{ item.descripcion_corta}}</td>
                <td>{{ item.fecha_creacion }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-ng-click="vm.fn.goToEdit(item.id)"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-flat" data-ng-click="vm.fn.goToView(item.id)"><i class="fa fa-eye"></i></button>
                    <button type="button" class="btn btn-danger" data-ng-click="vm.fn.goToDelete(item.id)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</mcui-box>