.box.no-border{
    border-top:none;
}

/*MARGIN TOP*/
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}

/*HEIGH*/
.h300{
   height: 350px; overflow-y: scroll; 
}
.h350{
   height: 350px; overflow-y: scroll; 
}

.h500{
   height: 500px; overflow-y: scroll; 
}

/*WIDTH*/
.th-operation{
    width:140px;
    text-align: center;
}

.th-operation-1{
    width:50px;
    text-align: center;
}