<div class="row-fluid">
    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.nombreSucursal" 
            data-label="Nombre" 
            data-input="{'required':'required', placeholder:'Nombre Sucursal'}">                
        </mcui-form-input>
    </div>

    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.direccionFisica" 
            data-label="Dirección física" 
            data-input="{'required':'required', placeholder:'Dirección física'}">                
        </mcui-form-input>
    </div> 

    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.coordenadas" 
            data-label="Coordenadas" 
            data-input="{placeholder:'Coordenadas'}">                
        </mcui-form-input>
    </div>    

    <!-- -25.2968361, -57.66813 -->

    <div class="col-sm-12">
        <ng-map center="{{ vm.sucursal.coordenadas | coordFilter  }}" zoom="15" on-click="vm.fn.addMarker()">
            <marker 
                position="{{ vm.sucursal.coordenadas | coordFilter }}"
                title="{{ vm.sucursal.nombreSucursal }} {{ vm.sucursal.direccionFisica }}"
                animation="Animation.BOUNCE"
                centered="true"
                draggable="true"
                on-dragend="vm.fn.addMarker()">                    
            </marker>          
        </ng-map>
    </div>

</div>  