<div class="row-fluid">
    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.nombreSucursal" 
            data-label="Nombre" 
            required
            placeholder="Nombre Sucursal">                
        </mcui-form-input>
    </div>

    <div class="col-sm-8">
        <mcui-form-input 
            ng-model="vm.sucursal.direccionFisica" 
            data-label="Dirección física" 
            required
            placeholder="Dirección física">                
        </mcui-form-input>        
    </div> 

    <div class="clearfix"></div>

    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.telefonos"             
            data-label="Teléfonos" 
            placeholder="Teléfonos">                
        </mcui-form-input> 
    </div>

    <div class="col-sm-8">
        <mcui-form-input 
            ng-model="vm.sucursal.emails" 
            data-label="Emails" 
            data-placeholder="Emails">                
        </mcui-form-input>
    </div>  

    <div class="clearfix"></div>

    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.sitioWeb" 
            data-label="Sitio Web" 
            data-placeholder="http://"
            data-type="url">                
        </mcui-form-input>        
    </div>

    <div class="col-sm-8">
        <mcui-form-input 
            ng-model="vm.sucursal.horarioAtencion" 
            data-label="Horario de Atencion" 
            data-placeholder="Horario de Atencion">                
        </mcui-form-input>         
    </div>  

    <div class="col-sm-4">
        <div class="form-group">
            <label>Departamento</label>
            <select name="departamento" id="departamento" class="form-control"
                    ng-change="vm.fn.selectDepa(vm.departamentoDto)"
                    ng-options="option.descripcion for option in vm.data.departamento track by option.id"
                    ng-model="vm.departamentoDto">
                <option ng-selected="true" value="">---</option>
            </select> 
        </div>
    </div>    

    <div class="col-sm-8">
        <div class="form-group">
            <label>Ciudad</label>
            <select name="ciudad" id="ciudad" class="form-control"
                    ng-disabled="vm.data.departamento.length == 0 || vm.data.ciudad.length == 0 || !vm.departamentoDto.id"
                    ng-options="option.descripcion for option in vm.data.ciudad track by option.id"
                    ng-model="vm.sucursal.ciudadDto">
                <option ng-selected="true" value="">---</option>
            </select> 
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12">        
        <mcui-form-input 
            ng-model="vm.sucursal.coordenadas" 
            data-label="Coordenadas" 
            data-placeholder="Coordenadas">                
        </mcui-form-input>
    </div>    

    <div class="col-sm-12 mt20">
        <ng-map center="{{ vm.sucursal.coordenadas | coordFilter  }}" zoom="15" on-click="vm.fn.addMarker()">
            <marker 
                position="{{ vm.sucursal.coordenadas | coordFilter }}"
                title="{{ vm.sucursal.nombreSucursal}} {{ vm.sucursal.direccionFisica}}"
                animation="Animation.BOUNCE"
                centered="true"
                draggable="true"
                on-dragend="vm.fn.addMarker()">                    
            </marker>          
        </ng-map>
    </div>
</div>  