<div class="row-fluid">
    <div class="col-sm-4">
        <mcui-form-input 
            ng-model="vm.sucursal.nombreSucursal" 
            data-label="Nombre" 
            data-input="{'required':'required', placeholder:'Nombre Sucursal'}">                
        </mcui-form-input>
    </div>

    <div class="col-sm-8">
        <label>Dirección física</label>
        <input class="form-control" type="text" placeholder="Dirección física" ng-required="true" ng-model="vm.sucursal.direccionFisica"  />
    </div> 

    <div class="clearfix"></div>

    <div class="col-sm-4">
        <label>Teléfonos</label>
        <input class="form-control" type="text" placeholder="Teléfonos" ng-model="vm.sucursal.telefonos"  />
    </div>

    <div class="col-sm-8">
        <mcui-form-input 
            ng-model="vm.sucursal.emails" 
            data-label="Emails" 
            data-input="{placeholder:'Emails'}">                
        </mcui-form-input>
    </div>  

    <div class="clearfix"></div>
    
    <div class="col-sm-4">
        <label>Sitio Web</label>
        <input class="form-control" type="text" placeholder="http://" ng-model="vm.sucursal.sitioWeb"  />
    </div>

    <div class="col-sm-8">
        <label>Horario de Atencion</label>
        <input class="form-control" type="text" placeholder="Horario de Atencion" ng-model="vm.sucursal.horarioAtencion"  />
    </div>  

    <div class="clearfix"></div>

    <div class="col-sm-12">
        <label>Coordenadas</label>
        <input class="form-control" type="text" placeholder="Coordenadas" ng-model="vm.sucursal.coordenadas"  />        
    </div>    

    <!-- -25.2968361, -57.66813 -->

    <div class="col-sm-12 mt20">
        <ng-map center="{{ vm.sucursal.coordenadas | coordFilter  }}" zoom="15" on-click="vm.fn.addMarker()">
            <marker 
                position="{{ vm.sucursal.coordenadas | coordFilter }}"
                title="{{ vm.sucursal.nombreSucursal}} {{ vm.sucursal.direccionFisica}}"
                animation="Animation.BOUNCE"
                centered="true"
                draggable="true"
                on-dragend="vm.fn.addMarker()">                    
            </marker>          
        </ng-map>
    </div>
</div>  