        <div class="wrapper">

            <!-- Main Header -->
            <div data-ui-view="header"></div>
            
            <!-- Left side column. contains the logo and sidebar -->            
            <div data-ui-view="leftpanel"></div>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div data-ui-view="pagecontentheader"></div>

                <!-- Main content -->
                <section class="content">
                    <div data-ui-view="content"></div>
                    <!-- Your Page Content Here -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Main Footer -->
            <div data-ui-view="footer"></div>

            <!-- Control Sidebar -->
            <div data-ui-view="controlsidebar"></div>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->